/* Font Family */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

/* Navigation */

/* --------------------------------

Main components

-------------------------------- */
header {
    /*position: relative;*/
    text-align: center;
    margin-bottom: 1em;
    padding-top: 3em;
}

header #cd-logo {
    margin-bottom: 3em;
}

header h1 {
    font-size: 20px;
    font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {
    header {
        margin-bottom: 4em;
    }
}

@media only screen and (min-width: 1170px) {
    header {
        padding-top: 11em;
    }

    header #cd-logo {
        position: absolute;
        top: 40px;
        left: 5%;
    }

    header h1 {
        font-size: 40px;
        font-size: 2.5rem;
        font-weight: 300;
    }
}

#cd-nav ul {
    /* mobile first */
    position: fixed;
    width: 90%;
    max-width: 400px;
    right: 5%;
    bottom: 20px;
    border-radius: 0.25em;
    box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
    background: white;
    visibility: hidden;
    /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
    overflow: hidden;
    z-index: 6;
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
}

#cd-nav ul li {
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cd-nav ul.is-visible {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
    transition: transform 0.3s, visibility 0s 0s;
}

#cd-nav ul.is-visible li:nth-child(1) {
    /* list items animation */
    -webkit-animation: cd-slide-in 0.2s;
    -moz-animation: cd-slide-in 0.2s;
    animation: cd-slide-in 0.2s;
}

#cd-nav ul.is-visible li:nth-child(2) {
    -webkit-animation: cd-slide-in 0.3s;
    -moz-animation: cd-slide-in 0.3s;
    animation: cd-slide-in 0.3s;
}

#cd-nav ul.is-visible li:nth-child(3) {
    -webkit-animation: cd-slide-in 0.4s;
    -moz-animation: cd-slide-in 0.4s;
    animation: cd-slide-in 0.4s;
}

#cd-nav ul.is-visible li:nth-child(4) {
    -webkit-animation: cd-slide-in 0.5s;
    -moz-animation: cd-slide-in 0.5s;
    animation: cd-slide-in 0.5s;
}

#cd-nav ul.is-visible li:nth-child(5) {
    -webkit-animation: cd-slide-in 0.6s;
    -moz-animation: cd-slide-in 0.6s;
    animation: cd-slide-in 0.6s;
}

#cd-nav li a {
    display: block;
    padding: 1.6em;
    border-bottom: 1px solid #eff2f6;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.85;
}

#cd-nav li:last-child a {
    border-bottom: none;
}

@media only screen and (min-width: 1170px) {
    #cd-nav ul {
        /* the navigation moves to the top */
        position: absolute;
        width: auto;
        max-width: none;
        bottom: auto;
        top: 36px;
        background: transparent;
        visibility: visible;
        box-shadow: none;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        transition: all 0s;
    }

    #cd-nav li {
        display: inline-block;
    }

    #cd-nav li a {
        padding: .4em;
        margin-left: 1.6em;
        border-bottom: none;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.3s;
    }

    #cd-nav li a:hover {
        color: #ffffff;
        opacity: 1;
        border-bottom: 2px solid #FFF;
    }

    #cd-nav li a.active {
        border-bottom: 2px solid #FFF;
    }

    #cd-nav.is-fixed ul {
        /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
        position: fixed;
        width: 90%;
        max-width: 400px;
        bottom: 20px;
        top: auto;
        background: rgba(214, 214, 214, 0.63);
        visibility: hidden;
        box-shadow: 0 0 10px rgba(229, 249, 234, 0.4);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }

    #cd-nav.is-fixed ul li {
        display: block;
    }

    #cd-nav.is-fixed ul li a {
        padding: 1.6em;
        margin-left: 0;
        border-bottom: 1px solid #eff2f6;
    }

    #cd-nav ul.has-transitions {
        /* this class is used to bring back transitions when the navigation moves at the bottom right */
        -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
        -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
        transition: transform 0.3s, visibility 0s 0.3s;
    }

    #cd-nav ul.is-visible {
        /* this class is used to bring back the navigation animation - as on touch devices */
        visibility: visible;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
        -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
        transition: transform 0.3s, visibility 0s 0s;
    }

    #cd-nav ul.is-hidden {
        /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }
}

.cd-nav-trigger {
    position: fixed;
    bottom: 20px;
    right: 5%;
    width: 44px;
    height: 44px;
    background: #969696;
    border-radius: 0.25em;
    box-shadow: 0 0 10px rgba(229, 249, 234, 0.4);
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 8;
}

.cd-nav-trigger span {
    /* the span element is used to create the menu icon */
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    box-shadow: 0 0 10px rgba(192, 212, 197, 0.4);
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

.cd-nav-trigger span::before, .cd-nav-trigger span::after {
    content: '';
    position: absolute;
    left: 0;
    background: inherit;
    width: 100%;
    height: 100%;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, background 0s;
    -moz-transition: -moz-transform 0.3s, background 0s;
    transition: transform 0.3s, background 0s;
}

.cd-nav-trigger span::before {
    top: -6px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.cd-nav-trigger span::after {
    bottom: -6px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.cd-nav-trigger.menu-is-open {
    box-shadow: none;
}

.cd-nav-trigger.menu-is-open span {
    background: rgba(232, 74, 100, 0);
}

.cd-nav-trigger.menu-is-open span::before, .cd-nav-trigger.menu-is-open span::after {
    background: rgba(229, 249, 234, 0.4);;
}

.cd-nav-trigger.menu-is-open span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-nav-trigger.menu-is-open span::after {
    bottom: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

@media only screen and (min-width: 1170px) {
    .cd-nav-trigger {
        /* the the menu triger is hidden by default on desktop devices */
        visibility: hidden;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
        -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
        transition: transform 0.3s, visibility 0s 0.3s;
    }

    .is-fixed .cd-nav-trigger {
        visibility: visible;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        transition: all 0s;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-animation: cd-bounce-in 0.3s linear;
        -moz-animation: cd-bounce-in 0.3s linear;
        animation: cd-bounce-in 0.3s linear;
    }
}

#cd-gallery-items li {
    margin-bottom: 1.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
}

#cd-gallery-items li img {
    width: 100%;
    display: block;
    border-radius: 0.25em;
}

@media only screen and (min-width: 768px) {
    #cd-gallery-items li {
        width: 48%;
        float: left;
        margin-bottom: 2em;
        margin-right: 4%;
    }

    #cd-gallery-items li:nth-child(2n) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1170px) {
    #cd-gallery-items li {
        width: 31%;
        float: left;
        margin-bottom: 2.5em;
        margin-right: 3.5%;
    }

    #cd-gallery-items li:nth-child(2n) {
        margin-right: 3.5%;
    }

    #cd-gallery-items li:nth-child(3n) {
        margin-right: 0;
    }
}

@-webkit-keyframes cd-slide-in {
    0% {
        -webkit-transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes cd-slide-in {
    0% {
        -moz-transform: translateX(100px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

@keyframes cd-slide-in {
    0% {
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes cd-bounce-in {
    0% {
        -webkit-transform: scale(0);
    }

    60% {
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes cd-bounce-in {
    0% {
        -moz-transform: scale(0);
    }

    60% {
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@keyframes cd-bounce-in {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }

    60% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

#fp-nav ul li .fp-tooltip {
    font-family: 'Ubuntu', sans-serif;
}

.bg_home {
    background-image: linear-gradient(to right, #2c3e50, #bdc3c7);
    font-family: 'Ubuntu', sans-serif;
}

.bg_about {
    background-image: linear-gradient(to right, #2c3e50, #fa0274);
    font-family: 'Ubuntu', sans-serif;
}

.bg_services {
    background-image: linear-gradient(to right, #2c3e50, #ae02fa);
    font-family: 'Ubuntu', sans-serif;
}

.bg_projects {
    background-image: linear-gradient(to right, #2c3e50, #0258FA);
    font-family: 'Ubuntu', sans-serif;
}

.ui-ux, .marketing {
    background-color: #2C3E50 !important;
}

.branding {
    background-color: #463272 !important;
}

.projects {
    background-color: #164BA9 !important;
}

.content_home {
    position: relative;
    z-index: 2;
    border-left: 2px solid #ffffff;
    margin-left: 200px;
}

.content_about {
    position: relative;
    z-index: 2;
    margin-left: 202px;
}

.content_about h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.content_about p {
    font-size: 25px;
    margin-top: 30px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.7);
}

.content_services {
    left: 202px;
    top: -120px;
    position: relative;
}

.content_projects {
    left: 250px;
    top: -50px;
    position: relative;
}

.content_projects h1 {
    font-size: 60px;
    font-weight: bold;
}

.content_projects p {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 100;
    width: 400px;
    line-height: 29px;
    margin-top: 30px;
}

.who-we-are-bg {
    background-color: rgba(189, 195, 199, 0.09) !important;
    font-family: 'Ubuntu', sans-serif;
    padding: 50px 140px;
}

.who-we-are-bg .header {
    font-size: 40px;
    width: fit-content;
    font-weight: normal;
    padding-bottom: 20px;
    color: rgba(241, 4, 114, 0.7);
    border-bottom: 1px solid #EF0572;
}

.who-we-are-bg p {
    color: rgba(50, 60, 81, 0.7);
    font-size: 25px;
    margin: 20px 50px;
    font-weight: lighter;
    line-height: 30px;

}

.arrow-down {
    position: absolute;
    left: 145px;
    bottom: 50px;
    z-index: 99999;
}

.bg_projects .arrow-down {
    left: 280px;
}

.arrow-down img {
    width: 20px;
}

.read-more {
    position: absolute;
    left: 230px;
    bottom: 30px;
    z-index: 99999;
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    font-weight: 100;
}

.read-more img {
    width: 20px;
}

.clients-bg {
    background-color: #E4E5E8 !important;
    font-family: 'Ubuntu', sans-serif;
}

.clients-bg .header {
    font-size: 40px;
    width: fit-content;
    font-weight: normal;
    padding-bottom: 20px;
    color: rgba(50, 60, 81, 0.7);
    border-bottom: 1px solid #343B51;
}

.clients-content {
    padding: 70px;
}

.clients-grid {
    width: 435px;
    margin-top: 40px;
}

.clients-grid img {
    width: 135px;
    height: 66px;
    margin-bottom: 10px;
}

.clients-content p {
    color: rgba(50, 60, 81, 0.7);
    font-size: 25px;
    margin-top: 50px;
    font-weight: lighter;
    line-height: 35px;

}

.request-bg {
    background-color: #343B51;
    height: 100vh;
    padding: 70px 50px;
}

.request-bg p {
    position: relative;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
}

.request-bg .list {
    width: 128px;
    position: absolute;
    bottom: 80px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E5E8;
}

.request-bg .list li {
    margin-bottom: 25px;
}

.request-bg .list li a {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.big_b {
    font-family: 'Ubuntu', sans-serif;
    font-size: 740px;
    font-weight: bold;
    color: rgba(92, 199, 188, 0.12);
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 120px;
    overflow: hidden;
}

.big_s {
    font-family: 'Ubuntu', sans-serif;
    font-size: 740px;
    font-weight: bold;
    color: rgba(180, 0, 255, 0.12);
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 202px;
    overflow: hidden;
}

.big_p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 740px;
    font-weight: bold;
    color: rgba(86, 144, 253, 0.11);
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 202px;
    overflow: hidden;
}

.content_services .hero p {
    color: #AF00FF;
    font-size: 20px;
    font-weight: normal;
    margin-left: 20px;
}

.content_services .hero .list li {
    z-index: 9;
    position: relative;
    margin-bottom: 5px;
    line-height: 60px;
    margin-left: 20px;
}

.content_services .hero .list li a {
    font-size: 60px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.center-dot {
    background-color: #A705F1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    bottom: -20px;
    margin-left: -3px;
}

.hero {
    font-size: 105px;
    font-weight: bold;
    line-height: 1.15;
    text-align: left;
    color: #ffffff;
    padding: 30px;
}

.hero_menu {
    list-style: none;
    padding-left: 2px;
}

.hero_menu li {
    display: inline;
    margin-right: 40px;
}

.hero_menu a {
    font-size: 25px;
    font-weight: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.51);
    transition: all 0.3s;
}

.hero_menu a:hover {
    color: #FFFFFF;
}

.card_services {
    position: relative;
}

.header_services {
    font-size: 16px;
    color: #ffffff;
    position: relative;
    top: -50px;
}

.header_services img {
    width: 28px;
    position: relative;
    top: 1px;
    padding-right: 15px;
}

.title_services {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2C3E50;
}

.list_service {
    position: absolute;
    left: 300px;
    top: 185px;
}

.list_service li {
    margin-bottom: 24px;
    color: rgba(11, 16, 21, 0.7);
    font-size: 20px;
}

.card_box {
    width: 375px;
    height: 450px;
    position: relative;
    left: -180px;
    top: 40px;
    border: 1px solid #707070;
    background-color: #ffffff;
    -webkit-box-shadow: 20px 20px 0px 0px rgba(44, 62, 80, 1);
    -moz-box-shadow: 20px 20px 0px 0px rgba(44, 62, 80, 1);
    box-shadow: 20px 20px 0px 0px rgba(44, 62, 80, 1);
}

.card_box_content {
    padding: 20px;
}

.card_box p {
    color: rgba(50, 60, 81, 0.7);
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    margin-top: 20px;
}

.big_service_name {
    position: absolute;
    font-size: 160px;
    color: rgba(44, 62, 80, 0.05);
    bottom: 0px;
    right: 10px;
}

.bigger_box {
    width: 840px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.62);
    position: absolute;
    top: 45px;
    left: 25%;
}
